#scan-notes
{
    position: relative;
}

table#scan-note-rows
{
    margin: 1em auto;
}

table#scan-note-rows tr th,
table#scan-note-rows tr td
{
    text-align: right;
}

table#scan-note-rows tbody tr
{
    border-top: 1px solid silver;
}

table#scan-note-rows tr th.note,
table#scan-note-rows tr td.note
{
    text-align: left;
}

table#scan-note-rows tr td
{
    vertical-align: top;
}

table#scan-note-rows tr td.note
{
    white-space: pre-line;
}

.drag-box .area
{
    background: none;
    border: 1px dashed black;
    position: absolute;
}

.drag-box .edge
{
    background: none;
    position: absolute;
    border: 4px solid rgba(255, 255, 255, .35);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.drag-box .thumb
{
    background: white;
    border: 1px solid black;
    position: absolute;
}

.drag-box .note
{
    position: absolute;
    text-align: left;
    font: 11px/12px "Lucida Sans", Helvetica, Arial, sans-serif;
    width: 200px;
    height: 48px;
}

.drag-box div.note
{
    overflow: hidden;
    white-space: pre-line;
}

.drag-box textarea.note
{
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid black;
}

.drag-box.inactive textarea.note
{
    display: none;
}

.drag-box div.note span
{
    background-color: rgba(255, 255, 255, .5);
}

.drag-box.inactive .thumb
{
    background-color: rgba(255, 255, 255, .5);
}

.drag-box.inactive .edge
{
    border-color: rgba(255, 255, 255, .15);
}
