body
{
    font-size: 62.5%;
    line-height: 2em;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    color: black;
}

h1, h2, p, form, ol, blockquote
{
    margin: 1em auto;
    width: 408px;
}

h1
{
    font-size: 24px;
    margin-top: 4em;
}

h1 a
{
    padding: 0 .25em;
    margin-left: -.25em;
    text-decoration: none;
    color: black;
}

h1 a:hover,
h1 a:active
{
    background-color: black;
    color: white;
}

h2
{
    font-size: 1.9em;
}

p, ol, blockquote
{
    font-size: 1.5em;
}

blockquote
{
    padding-left: 2em;
}

input.mac-button
{
    cursor: pointer;
    font-family: Chicago, Verdana, sans-serif;
    font-size: 12px !important;
    background: url('print-button.png');
    border: none;
    width: 50px;
    height: 20px;
}

#mini-map
{
    width: 408px;
    height: 252px;
    border: solid 1px black;
    background-color: #ccc;
    position: relative;
}

    #mini-map .doc
    {
        z-index: 99;
        position: absolute;
        top: 112px;
        left: 195px;
    }

.sheet
{
    margin: 1em auto;
    position: relative;
    background: white;
    border: 1px solid black;
    width: 360px;
    height: 456px;
    padding: 24px;
}

.sheet .dummy-qrcode
{
    position: absolute;
    background: white;
    color: white;
    width: 44px;
    height: 44px;
    padding: 4px;
    top: 432px;
    left: 336px;
}

.sheet .slippy-nav
{
    width: 43px;
    height: 57px;
    position: absolute;
    left: 8px;
    top: 6px;
}

.sheet .dog-ear
{
    background: url('dog-ear.png');
    width: 30px;
    height: 30px;
    position: absolute;
    left: 379px;
    top: -1px;
}

#footer
{
    margin-top: 4em;
    padding-top: 1em;
    margin-bottom: 4em;
    border-top: 1px solid gray;
}